* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}
.menu {
display: flex;
align-items: center;
}
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #0D0D0D;
    color: white;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/capa.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 2px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color: white;
    font-size: 20px;
    text-shadow: 0px 2px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1 {
    background-color: #0D0D0D;
}
.banner2 {
    background-color: #262626;
}
.banner3 {
    background-color: #595959;

}
.banner_tittle {
    font-size: 20px;
}
.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: end;
}
.day {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    border-bottom: 1px solid #C60000;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color:white ;
    font-size: 13px;
    text-decoration: none;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex:1;
}
.widget_tittle {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_tittle_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_tittle_bar {
    width: 50px;
    height: 3px;
    background-color: #C60000;
    margin-top: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #C60000;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_coments {
    background-color: #6B0000;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;

}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_tittle {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
}
article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.fm_1, .fm_2, .fm_3 {
    flex:1;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.fm_1 {
    background-color: #0D0D0D;
}
.fm_2 {
    background-color: #262626;
}
.fm_3 {
    background-color: #595959;
}
.fm_disc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: end;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    flex: 1;
    color: white;
}
.flexColumn {
    flex-direction: column;
}
footer .widget_tittle_text {
    color: white;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.enderece {
    color: #A6A6A6;
    font-size: 15px;
    margin-top: 30px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mn_line {
    height: 3px;
    background-color: #0079c7;
}
@media (max-width:600px) {
    .banner_headline{
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;   
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        padding: 50px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

}






























